In [1]:
import pandas as pd  # re-import pandas cleanly
data = pd.read_csv('C:/Users/Administrator/Downloads/credit_card_transactions_large.csv')
print(data.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0               1          103       2025-01-01              ATM  BestBuy
1               2          271       2025-01-01           Online     eBay
2               3          107       2025-01-01              ATM   Amazon
3               4           72       2025-01-01              POS   Amazon
4               5          189       2025-01-01              ATM   Amazon

        Category  Amount Payment_Mode Transaction_Status       Location
0         Dining  360.10  Credit Card            Pending  San Francisco
1         Travel  357.02  Credit Card           Declined        Chicago
2  Entertainment  829.41  Credit Card            Pending        Chicago
3      Groceries  790.35  Credit Card            Pending    Los Angeles
4       Clothing  311.26  Credit Card           Declined  San Francisco

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mt
import seaborn as sns 
sns.set_theme(style="whitegrid")
mt.rcParams['figure.figsize']=(10,6)

In [3]:
print("shape of the dataset",data.shape)
print("column name",data.columns.tolist())

shape of the dataset (1200, 10)
column name ['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type', 'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status', 'Location']

In [4]:
missing_values=data.isnull().sum()
print("missing values of each column",missing_values)

missing values of each column Transaction_ID        0
Customer_ID           0
Transaction_Date      0
Transaction_Type      0
Merchant              0
Category              0
Amount                0
Payment_Mode          0
Transaction_Status    0
Location              0
dtype: int64

In [5]:
data['Transaction_Date']=pd.to_datetime(data['Transaction_Date'])

In [6]:
data.dtypes

Transaction_ID                 int64
Customer_ID                    int64
Transaction_Date      datetime64[ns]
Transaction_Type              object
Merchant                      object
Category                      object
Amount                       float64
Payment_Mode                  object
Transaction_Status            object
Location                      object
dtype: object