In [5]:
import pandas as pd

In [42]:
data=pd.read_csv('C:/Users/Administrator/Downloads/credit_card_transactions_large.csv')
print(data.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0               1          103       2025-01-01              ATM  BestBuy
1               2          271       2025-01-01           Online     eBay
2               3          107       2025-01-01              ATM   Amazon
3               4           72       2025-01-01              POS   Amazon
4               5          189       2025-01-01              ATM   Amazon

        Category  Amount Payment_Mode Transaction_Status       Location
0         Dining  360.10  Credit Card            Pending  San Francisco
1         Travel  357.02  Credit Card           Declined        Chicago
2  Entertainment  829.41  Credit Card            Pending        Chicago
3      Groceries  790.35  Credit Card            Pending    Los Angeles
4       Clothing  311.26  Credit Card           Declined  San Francisco

In [43]:
import pandas as pd  # re-import pandas cleanly
data = pd.read_csv('C:/Users/Administrator/Downloads/credit_card_transactions_large.csv')
print(data.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0               1          103       2025-01-01              ATM  BestBuy
1               2          271       2025-01-01           Online     eBay
2               3          107       2025-01-01              ATM   Amazon
3               4           72       2025-01-01              POS   Amazon
4               5          189       2025-01-01              ATM   Amazon

        Category  Amount Payment_Mode Transaction_Status       Location
0         Dining  360.10  Credit Card            Pending  San Francisco
1         Travel  357.02  Credit Card           Declined        Chicago
2  Entertainment  829.41  Credit Card            Pending        Chicago
3      Groceries  790.35  Credit Card            Pending    Los Angeles
4       Clothing  311.26  Credit Card           Declined  San Francisco

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mt
import seaborn as sns 
sns.set_theme(style="whitegrid")
mt.rcParams['figure.figsize']=(10,6)

In [45]:
data = pd.read_csv('C:/Users/Administrator/Downloads/credit_card_transactions_large.csv')
print(data.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0               1          103       2025-01-01              ATM  BestBuy
1               2          271       2025-01-01           Online     eBay
2               3          107       2025-01-01              ATM   Amazon
3               4           72       2025-01-01              POS   Amazon
4               5          189       2025-01-01              ATM   Amazon

        Category  Amount Payment_Mode Transaction_Status       Location
0         Dining  360.10  Credit Card            Pending  San Francisco
1         Travel  357.02  Credit Card           Declined        Chicago
2  Entertainment  829.41  Credit Card            Pending        Chicago
3      Groceries  790.35  Credit Card            Pending    Los Angeles
4       Clothing  311.26  Credit Card           Declined  San Francisco

In [46]:
print("shape of the dataset",data.shape)
print("column name",data.columns.tolist())

shape of the dataset (1200, 10)
column name ['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type', 'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status', 'Location']

In [47]:
print("summary statictics",data.describe())

summary statictics        Transaction_ID  Customer_ID       Amount
count     1200.000000  1200.000000  1200.000000
mean       600.500000   150.931667   494.489692
std        346.554469    86.144962   283.821837
min          1.000000     1.000000     5.030000
25%        300.750000    78.000000   243.565000
50%        600.500000   150.500000   495.090000
75%        900.250000   225.250000   734.625000
max       1200.000000   300.000000   999.560000

In [48]:
missing_values=data.isnull().sum()
print("missing values of each column",missing_values)

missing values of each column Transaction_ID        0
Customer_ID           0
Transaction_Date      0
Transaction_Type      0
Merchant              0
Category              0
Amount                0
Payment_Mode          0
Transaction_Status    0
Location              0
dtype: int64

In [49]:
print("data types of each column",data.dtypes)

data types of each column Transaction_ID          int64
Customer_ID             int64
Transaction_Date       object
Transaction_Type       object
Merchant               object
Category               object
Amount                float64
Payment_Mode           object
Transaction_Status     object
Location               object
dtype: object

In [50]:
data['Transaction_Date']=pd.to_datetime(data['Transaction_Date'])

In [51]:
data.dtypes

Transaction_ID                 int64
Customer_ID                    int64
Transaction_Date      datetime64[ns]
Transaction_Type              object
Merchant                      object
Category                      object
Amount                       float64
Payment_Mode                  object
Transaction_Status            object
Location                      object
dtype: object

In [52]:
data['year']=data['Transaction_Date'].dt.year
data['month']=data['Transaction_Date'].dt.month
data['day']=data['Transaction_Date'].dt.day

In [53]:
data[['Transaction_Date','year','month','day']]
print(data.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0               1          103       2025-01-01              ATM  BestBuy
1               2          271       2025-01-01           Online     eBay
2               3          107       2025-01-01              ATM   Amazon
3               4           72       2025-01-01              POS   Amazon
4               5          189       2025-01-01              ATM   Amazon

        Category  Amount Payment_Mode Transaction_Status       Location  year  \
0         Dining  360.10  Credit Card            Pending  San Francisco  2025
1         Travel  357.02  Credit Card           Declined        Chicago  2025
2  Entertainment  829.41  Credit Card            Pending        Chicago  2025
3      Groceries  790.35  Credit Card            Pending    Los Angeles  2025
4       Clothing  311.26  Credit Card           Declined  San Francisco  2025

   month  day
0      1    1
1      1    1
2      1    1
3      1    1
4      1    1

jan_2025=data([data['year']==2025)&(data['month']==1)]
jan_2025.head()

In [54]:
jan_2025 = data[(data['year'] == 2025) & (data['month'] == 1)]
print(jan_2025.head())

   Transaction_ID  Customer_ID Transaction_Date Transaction_Type Merchant  \
0               1          103       2025-01-01              ATM  BestBuy
1               2          271       2025-01-01           Online     eBay
2               3          107       2025-01-01              ATM   Amazon
3               4           72       2025-01-01              POS   Amazon
4               5          189       2025-01-01              ATM   Amazon

        Category  Amount Payment_Mode Transaction_Status       Location  year  \
0         Dining  360.10  Credit Card            Pending  San Francisco  2025
1         Travel  357.02  Credit Card           Declined        Chicago  2025
2  Entertainment  829.41  Credit Card            Pending        Chicago  2025
3      Groceries  790.35  Credit Card            Pending    Los Angeles  2025
4       Clothing  311.26  Credit Card           Declined  San Francisco  2025

   month  day
0      1    1
1      1    1
2      1    1
3      1    1
4      1    1

In [58]:
data = data[(data['Amount'] == 700) & (data['Transaction_Type'] == 'Online')]
print(data.head())

Empty DataFrame
Columns: [Transaction_ID, Customer_ID, Transaction_Date, Transaction_Type, Merchant, Category, Amount, Payment_Mode, Transaction_Status, Location, year, month, day]
Index: []

In [56]:
data.columns

Index(['Transaction_ID', 'Customer_ID', 'Transaction_Date', 'Transaction_Type',
       'Merchant', 'Category', 'Amount', 'Payment_Mode', 'Transaction_Status',
       'Location', 'year', 'month', 'day'],
      dtype='object')

In [59]:
data = data[(data['Amount'] == 700) & (data['Transaction_Type'] == 'Online')]
print(data.head())

Empty DataFrame
Columns: [Transaction_ID, Customer_ID, Transaction_Date, Transaction_Type, Merchant, Category, Amount, Payment_Mode, Transaction_Status, Location, year, month, day]
Index: []

In [60]:
data['Discounted_Amount']=data['Amount']
mask=data['Amount']>500
data.loc[mask,'Discounted_Amount']=data.loc[mask,'Amount']*0.95
print(data[['Amount','Discounted_Amount']].head())

Empty DataFrame
Columns: [Amount, Discounted_Amount]
Index: []